
* {
    box-sizing: border-box;
}

/* for navigasjonbar start*/
.navigasjon-top{ 
    text-align: right;
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: inline;
    font-weight: bold;
}

.navigasjon-contact{
    text-align: right;
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: inline;
    font-weight: bold;
    border: #e6bd43;
    background-color:#e6bd43;
}

ul {
    list-style-type: none;
    justify-content: right;
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-flex;
  }
/* for navigasjonbar stopp*/

h1{
    text-align: center;
}

p{
    text-align: center;
}

/*grå bilde for header*/

/*.grey-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 300px;
    padding: 10px;
}*/



/*for tekst inn i grått bilde start*/

h1{
    font-weight: bold;
    font-size:xx-large;

}

.box-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.333);
    padding: 96px;
    position: relative;
    margin: 3%;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    color: black;
    top: 2%; 
}
.text-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    color: black;
  }

.link-text{
    position:absolute;
    top: 70%;
    left: 50%;
    color:#000;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    background-color:#e6bd43;
}
 
/*for tekst inn i grått bilde slutt*/

/*Borderbox om about our Company start*/
.overtitle{
   padding-top: 2%;
   text-align: center;
}

.placeholder-pic1{
    width: 300px;
    height: 300px;
    padding: 2rem;
    float: left;
}

.text-in-frame{
    /*margin-left: 30px; prøvde så mye forskjellig at jeg tilslutt endte opp med å kmn ut denne og legge inn margin auto.*/
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid black;
    columns: 50px 3;
    padding: 10px;
}

.text-in-frame2{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
    border: 3px solid black;
    padding: 10px;
}
/*Borderbox om about our Company slutt*/

/*Our services start*/ 

h3{
    text-align: center;
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.title{
    flex: 1;
    text-align: center;
    display: inline-block;
}

.text-to-services{
    /*flex: 1;
    margin: 5px;
    text-align: center;*/
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/
}
/*Our services slutt*/ 

/*sign up del start*/

.text-to-signup{
    display: grid;
    align-items: center;
}

.signup{
    background-color:rgba(0, 0, 0, 0.333);
    padding: 25px;
}

.box-for-sign{
    /*text-align: center;*/
    /*display: inline-block;*/
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: #e6bd43;
    background-color:#e6bd43;
    width: 20%;
    height: 100%;
    display: grid;
    justify-self:right;
}

.signhere{
    width: 20%;
    height: 200%;
    display: grid;
    justify-self: center;
}

/* sign up del slutt*/

.text-for-footer{
    text-align: center;
    display: grid;
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border:#252525;
    background-color:#252525;
}

.footer-logo{
    display: grid;
    justify-items: left;
}

.sosial{
    display: grid;
    justify-items: right;
}


/*product side*/
.office-picture{
    width: 70%;
    height: 45vh;
    display: block;
    margin-left: 10%;
    opacity: 0.5;
}

.port{ /*kode hentet fra W3school:https://www.w3schools.com/css/tryit.asp?filename=trycss_image_text_center2*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
}

hr{
    color: #e6bd43;
    width: 66%;
    transform: translate(-60%, -60%);
}



/*
@media only screen and (min-width: 600px){
    #Grid{
    grid-template-areas: "header header header"  "main main main" "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 5fr 0fr;

    }
    main{
        grid-column: 1 / span 4;
    }
    footer{
        grid-column: 1 / span 4;
    }
}
